.moviedetail {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
}

.moviedetail__show {
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* width: 90%;
  width: 680px; */
  /* background: #fff;
  z-index: 10001;
  color: coral;
  width: 70vw;
  height: 70vh; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

.moviedetail__inner_div {
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: 70vh;
  background-color: #111;
}

.moviedetail__image {
  min-width: 40%;
  height: 100%;
}

.moviedetail__image > img {
  min-width: 90%;
  max-width: 92%;
  max-height: 100%;
  min-height: 99%;
}

.moviedetail__close {
  position: absolute;
  right: 6px;
  top: 9px;
  font-weight: 600;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 18px;
  color: rgb(240, 231, 231);
}

.moviedetail__text__info {
  color: black;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 22px;
  font-weight: lighter;
  padding: 5px;
  font-family: sans-serif;
  /* text-shadow: 3px 3px 4px #000; */
}

.moviedetail__text__info > h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 35px;
  padding: 25px 0px;
  text-shadow: 3px 3px 4px #000;
}

.moviedetail__text__info p {
  /* width: 480px;
  height: 75px; */
  line-height: 28px;
  letter-spacing: 0.6px;
  padding-top: 10px;
  font-family: "Roboto" !important;
  font-weight: 100;
  font-size: 18px;
}

.movie__rating {
  padding: 5px;
  background-color: #000;
  display: inline-flex;
  align-items: center;
  margin-top: 15px;
  border-radius: 5px;
}

.movie__rating__span {
  font-size: 1.1rem;
  font-weight: lighter;
  margin-left: 7px;
  margin-top: 3px;
  color: white;
}
