.moviedetail {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
}

.moviedetail__show {
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 6px 6px rgba(192192, 192, 0.6);
}

.moviedetail__inner_div {
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: 70vh;
  background-color: #111;
}

.moviedetail__image {
  min-width: 40%;
  height: 100%;
}

.moviedetail__image > img {
  min-width: 90%;
  max-width: 92%;
  max-height: 100%;
  min-height: 100%;
}

.moviedetail__close {
  position: absolute;
  right: 6px;
  top: 9px;
  font-weight: 600;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(240, 231, 231);
}

.moviedetail__text__info {
  color: white;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 22px;
  font-weight: lighter;
  padding: 5px;
  font-family: sans-serif;
  /* text-shadow: 3px 3px 4px #000; */
}

.moviedetail__text__info > h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 35px;
  padding: 25px 0px;
  text-shadow: 3px 3px 4px #000;
}

.moviedetail__text__info p {
  /* width: 480px;
  height: 75px; */
  line-height: 28px;
  letter-spacing: 0.6px;
  padding-top: 10px;
  font-family: "Roboto" !important;
  font-weight: 100;
  font-size: 18px;
}

.moviedetail__overview {
}

.movie__rating {
  padding: 5px;
  /* background-color: #000; */
  display: inline-flex;
  align-items: center;
  margin-top: 15px;
  border-radius: 5px;
}

.movie__rating__span {
  font-size: 1.1rem;
  font-weight: lighter;
  margin-left: 7px;
  margin-top: 3px;
  color: white;
}

/* TRAILER SOCIAL WATCHLIST */

.moviedetail__text__bottom {
  display: flex;
  flex-direction: row;
  background: rgb(15, 15, 15);
  width: 18vw;
  height: 10vh;
  margin: 10%;
  margin-left: 20%;
  /* margin-top: 26%; */
  box-shadow: 0px 0px 6px 6px rgba(192, 192, 192, 0.6);
}

.movie__trailer,
.movie__watchlist,
.movie__social__share {
  width: 50%;
  height: 60px;
  /* background: rgb(94, 180, 137); */
  margin: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.movie__trailer__top,
.movie__watchlist__top,
.movie__social__share__top {
  font-size: 25px;
  font-weight: 800;
}

.movie__trailer__bottom,
.movie__watchlist__bottom,
.movie__social__share__bottom {
  text-align: center;
  color: #fff;
  font-family: "Roboto" !important;
  font-weight: 100;
  font-size: 14px;
}

.materialUI__icons {
  font-size: 2.2rem !important;
  color: white;
}

.materialUI__icons_share {
  font-size: 1.7rem !important;
}

.social__share__hover {
  display: flex;
  z-index: 1;
  position: absolute;
  margin-top: 60px;
  visibility: hidden;
  background-color: rgba(75, 73, 73, 0.496);
  /* background-color: rgba(97, 94, 94, 0.295); */
  padding: 7px 5px 2px 6px; /*top right bottom left*/
  border-radius: 9px;
}

.movie__social__share:hover .social__share__hover {
  visibility: visible;
}

.share-wrap-inside-div {
  padding: 0px 10px;
}

.share-social-icons {
  font-size: 2.1rem !important;
  cursor: pointer;
}
