.login {
  background-image: url("background-002.png");
  /* url("Movie-background.png"); */
  /* ("https://i.pinimg.com/originals/fe/9a/fb/fe9afbe8b357c2f0068b50626fb1e840.jpg"); */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  display: grid;
  place-items: center;
  height: 100vh;
}

.login > div > img {
  object-fit: contain;
}

.login > div {
  display: flex;
  flex-direction: column;
}

.login > button {
  margin-top: -110px;
  width: 160px;
  background-color: #dd0f20;
  color: #eff2f5;
  font-weight: 900;
  box-shadow: #ccc 0px 0px 18px;
}

.login > button:hover {
  background-color: white;
  color: #dd0f20;
  box-shadow: #ccc 0px 0px 28px;
}
